/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}
/* Light mode */
/* Page fade */
body {
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/* Header */
header {
    text-align: center;
    padding: 20px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255,255,255,0.1);
}

nav a {
    padding: 12px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background: #00c6ff;
    color: black;
}

/* Mobile Menu */
.menu-btn {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

/* Section */
section {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

/* Cards */
.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(20px);
}

.card.show {
    opacity: 2;
    transform: translateY(0);
}

.card:hover {
    transform: scale(1.03);
}

/* Images */
.profile {
    width: 140px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.cert-img {
    width: 100%;
    border-radius: 10px;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px;
    background: #00c6ff;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

/* Toggle button */
.toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #00c6ff;
    padding: 8px;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
}

/* Mobile */
@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
    }

    nav.active {
        display: flex;
    }

    .menu-btn {
        display: block;
    }
}
